<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css">
    <title>Document</title>
    
    <style>
        h5{
            display: inline-block;
        }
    </style>
</head>
<body>
    <a href="/users/logout">Logout</a>
    <h1>Hello <%= name.charAt(0).toUpperCase() + name.slice(1) %></h1>
    <span><h5>Email :- </h5> <%= email%></span><br>
    <span><h5>Phone No. :- </h5> <%= phone%></span><br>
    <span><h5>Address :- </h5> <%= address%></span><br>
    <span><h5>GST No. :- </h5> <%= gst%></span><br>
    <a href="/users/userinfo">Edit Profile</a><br>
    <a href="/users/commScreen">Communication History</a>
</body>
</html>